body {
  overflow: hidden;
}

#stars-container {
  height: 200vh;
  width: 200%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#stars, #stars::after {
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
}

#stars {
  box-shadow: /* هنا هيجي القيم المولدة من SCSS */;
  animation: animateStars 28.5s ease-in-out infinite;
}

#stars::after {
  box-shadow: /* نفس القيم بتاعة النجوم الصغيرة */;
}

#stars2, #stars2::after {
  width: 2px;
  height: 2px;
  background: transparent;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
}

#stars2 {
  box-shadow: /* القيم المولدة للنجوم المتوسطة */;
  animation: animateStars 30s ease-in-out infinite;
}

#stars2::after {
  box-shadow: /* نفس القيم */;
}

#stars3, #stars3::after {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
}

#stars3 {
  box-shadow: /* القيم المولدة للنجوم الكبيرة */;
  animation: animateStars 31.5s ease-in-out infinite;
}

#stars3::after {
  box-shadow: /* نفس القيم */;
}

@keyframes animateStars {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(-1, 1, 0, 30deg);
    -ms-transform: rotate3d(-1, 1, 0, 30deg);
    -o-transform: rotate3d(-1, 1, 0, 30deg);
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  75% {
    -webkit-transform: rotate3d(-1, 1, 0, -30deg);
    -ms-transform: rotate3d(-1, 1, 0, -30deg);
    -o-transform: rotate3d(-1, 1, 0, -30deg);
    transform: rotate3d(-1, 1, 0, -30deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}
